[submodule "assets/general"]
	path = assets/general
	url = git@github.com:BonhamLab/assets_lab_general
[submodule "assets/child_brain_microbiome"]
	path = assets/child_brain_microbiome
	url = git@github.com:BonhamLab/assets_child_brain_microbiome
[submodule "assets/binfantis"]
	path = assets/binfantis
	url = git@github.com:BonhamLab/assets_binfantis.git
[submodule "assets/cheese_hgt"]
	path = assets/cheese_hgt
	url = git@github.com:BonhamLab/assets_cheese_hgt.git
[submodule "assets/career_experimental"]
	path = assets/career_experimental
	url = git@github.com:BonhamLab/assets_career_experimental.git
